/* Estilo para a animação */
.animation-container {
    margin-top: 50px;
    text-align: center;
}
.dataset-box, .model-box {
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: 2px solid #007bff;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    color: black
}
.dataset-box {
    background-color: #f8f9fa;
}
.model-box {
    background-color: #e9ecef;
}
.arrow {
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
    animation: moveArrow 1.5s infinite;
}
@keyframes moveArrow {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}