body {
    background-color: #260033; /* Dark background */
    color: #e0e0e0; /* Light text for contrast */
    font-family: 'Arial', sans-serif;
}
.container {
    margin-top: 10%;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    color: #bb86fc; /* Soft purple for headings */
    font-weight: bold;
}
p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #e0e0e0; /* Light text for paragraphs */
}
.btn-custom {
    background-color: #bb86fc; /* Soft purple for buttons */
    color: #121212; /* Dark text for contrast */
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgb(0, 255, 238); /* Shadow for highlighting */
}
.btn-custom:hover {
    background-color: #3700b3; /* Darker purple on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* Slightly larger shadow on hover */
}